fastapi==0.100.0
uvicorn==0.22.0
psycopg2-binary==2.9.6
sqlmodel==0.0.21
asyncpg==0.29.0
python-dotenv==0.21.1
pydantic[email]==2.8.2
passlib==1.7.4
crypto==1.4.1
cloudinary==1.40.0
python-multipart==0.0.9
cloudinary==1.40.0
python-multipart==0.0.9